include "~/.config/niri/inputs.kdl"
include "~/.config/niri/outputs.kdl"
include "~/.config/niri/comp.kdl"
include "~/.config/niri/binds.kdl"
include "~/.config/niri/noctalia.kdl"
spawn-at-startup "noctalia"

prefer-no-csd

hotkey-overlay {
  skip-at-startup
}

  

include "noctalia.kdl"
